<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 2048 1412">
  <defs>
    <style>

    </style>
  </defs>
  <title>office2</title>
  <image width="2048" height="1412" xlink:href="assets/office2.png" />
  <polyline id="room1" class="cls-1"
    points="105.25 1141.35 105.25 901.35 552.4 638.62 693.88 719.46 911.14 1015.04 911.14 1083.25 463.99 1338.4" />
  <polygon id="room2" class="cls-2"
    points="317.46 552.72 317.46 322.83 777.25 62.62 1161.25 287.46 519.16 658.15 317.46 552.72" />
  <text class="cls-3" transform="translate(553.44 1010.1) scale(0.58)">
    <tspan class="cls-4">{{data.aa.name}}</tspan>
    <tspan> {{ data.aa.temp }} </tspan>
  </text>
  <text class="cls-3" transform="translate(689.86 320.42) scale(0.58)">
    <tspan class="cls-4">{{data.bb.name}}</tspan>
    <tspan class="cls-4">{{data.bb.temp}}</tspan>
  </text>
</svg>
