@import "./variables.scss";

* {
  box-sizing: border-box;
  outline: none !important;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
.light-theme,
.dark-theme {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Comfortaa" !important;
}

.landing {
  padding-top: 20vh;
  text-align: center;
  .box {
    width: 300px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
  }

  img {
    width: 150px;
  }

  h3 {
    display: block;
    letter-spacing: 2.4px;
  }

  h5 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 0.8em;
  }
}
