@mixin theme($theme-name, $bg, $col, $tcol) {
  $box-shadow: 3px 3px 8px darken($bg, 10%), -5px -5px 8px lighten($bg, 10%) !important;
  .#{$theme-name} {
    background-color: $bg;
    color: $col;

    .box,
    .buttt {
      box-shadow: $box-shadow;
    }

    h3 {
      color: $tcol;
    }
    h5 {
      color: $col;
    }
  }
}

@include theme(light-theme, #eeeeee, #222222, #c60025);
@include theme(dark-theme, #333333, #eeeeee, #ed001f);
